*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main{
	display: flex;
	wight: 80%;
	margin: auto;
	flex-wrap: wrap;
	box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.5);
	max-width: 1000px;
	color: #fff;
}

.img112{
	background-image: url(../img/img112.jpg);

}

.img113{
	background-image: url(../img/img113.jpg);

}

.img114{
	background-image: url(../img/img114.jpg);

}

.img115{
	background-image: url(../img/img115.jpg);

}


.img116{
	background-image: url(../img/img116.jpg);

}

.img117{
	background-image: url(../img/img117.png);

}

.img118{
	background-image: url(../img/img118.jpg);

}

.img119{
	background-image: url(../img/img119.jpg);

}

.img120{
	background-image: url(../img/img120.jpg);

}

.img121{
	background-image: url(../img/img121.jfif);

}

.img122{
	background-image: url(../img/img122.jfif);

}

.img123{
	background-image: url(../img/img123.png);

}

.img124{
	background-image: url(../img/img124.jfif);

}

.img125{
	background-image: url(../img/img125.jfif);

}

.img126{
	background-image: url(../img/img126.jpg);

}

.img127{
	background-image: url(../img/img127.jpg);

}

.img128{
	background-image: url(../img/img128.jpg);

}

.img129{
	background-image: url(../img/img129.jpeg);

}

.img130{
	background-image: url(../img/img130.jpg);

}

.img131{
	background-image: url(../img/img131.jpg);

}


.img132{
	background-image: url(../img/img132.jfif);

}

.img133{
	background-image: url(../img/img133.jpg);

}

.img134{
	background-image: url(../img/img134.jpg);

}

.img135{
	background-image: url(../img/img135.jpg);

}

.img136{
	background-image: url(../img/img136.jpg);

}

.img137{
	background-image: url(../img/img137.jpg);

}


.img138{
	background-image: url(../img/img138.jpg);

}

.img139{
	background-image: url(../img/img139.jpg);

}

.img140{
	background-image: url(../img/img140.jpg);

}

.img141{
	background-image: url(../img/img141.jpg);

}

.img142{
	background-image: url(../img/img142.jpg);

}

.img143{
	background-image: url(../img/img143.png);

}

.img144{
	background-image: url(../img/img144.jpg);

}

.img145{
	background-image: url(../img/img145.jpg);

}

.img146{
	background-image: url(../img/img146.jpg);

}

.img147{
	background-image: url(../img/img147.jpg);

}


.img148{
	background-image: url(../img/img148.jpg);

}

.img149{
	background-image: url(../img/img149.png);

}


.img150{
	background-image: url(../img/img150.jpg);
}

.img151{
	background-image: url(../img/img151.jpg);
}

.img152{
	background-image: url(../img/img152.png);
}

.img153{
	background-image: url(../img/img153.jpg);
}

.img154{
	background-image: url(../img/img154.jpg);
}

.img155{
	background-image: url(../img/img155.jpg);
}

.img156{
	background-image: url(../img/img156.jpg);
}

.img157{
	background-image: url(../img/img157.jpg);
}

.img158{
	background-image: url(../img/img158.jpg);
}

.img159{
	background-image: url(../img/img159.png);
}

.img160{
	background-image: url(../img/img160.jpg);
}

.img161{
	background-image: url(../img/img161.png);
}

.photo{
	max-height: 265px;
	max-width: 490px;
	width: calc(50% - 10px);
	height: calc(95vw/2/ 16*9);
	background-position: center;
	margin: 5px;
	background-size: cover;
	-webkit-background-size: cover;
}

.photo:hover{
	transform: rotate(2deg) scale(1.07) ;
	box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
	transition: 1s;
}

a{
	font-family: "Comfortaa", cursive;
	font-size: 30px;
	margin: 85px;
	color: black;

}

p{
	font-family: "Comfortaa", cursive;
	font-size: 30px;
	margin: 50px;
	color: black;

}

h1{
	font-family: "Comfortaa", cursive;
	font-size: 30px;
	text-align: center;
	color: black;

}